.about-me-section{
    background-image: var(--darkpurple-background-gradient);
    color: white;
    display: flex;
    flex-direction: column;
    padding: 56px 0px;
    text-align: center;
    gap: 32px;
    justify-content: center;
    align-items: center;
}

.about-me-text{
    display: flex;
    flex-direction: column;
    gap: 32px;
    width: 50%;
    font-size: 1.2rem;

}