.stack-section{
    background-color: var(--darkgrey-background-solid);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 72px 0px;
    gap: 56px;
}

.cards-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 32px;
    flex-wrap: wrap;
    width: 80%;

}