.label{
    border-style: solid;
    border-color: var(--purple-border-solid);
    border-width: 2px;
    border-radius: 24px;
    background-color: var(--purple-background-box-solid-02);
    padding: 4px 12px;
    font-size: 0.75rem;
}