.skills-section {
    background-color: var(--darkpurple-background-solid);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 56px;
    padding: 56px 0px;
    color: white;
}

.skill-cards {
    display: flex;
    width: 90%;
    align-items: center;
    justify-content: center;
    gap: 24px;
    flex-wrap: wrap;
}