footer{
    background-image: var(--purple-header-footer-gradient);
    color: white;
    font-family: var(--title-font);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 72px;
}